<section>
  <div class="container px-0">
      <div class="galera">
          <div class="jumbotron col-md-5 col-12 py-4 jumqea1">
              <h3 class="">Galera</h3>
              <hr class="my-4">
              <ul class="list-group">
                  <li class="list-group-item list-custom">
                      <div class="list-div d-flex">
                        <p class="nome"><b>Nome: </b>Manuela Silverio Gomes</p>
                        <p class="nome"><b>E-mail: </b>manuela@gmail.com</p>
                        <div class="col-3 d-block pontos-div">
                            <p class="pontos-p"><img height="200px" width="200px" src="../images/gridmanu.jpeg" width="" alt=""></p>
                        </div>
                      </div>
                  </li>
                  <li class="list-group-item list-custom">
                      <div class="list-div d-flex">
                        <p class="nome"><b>Nome: </b>Felipe Sardim</p>
                        <p class="nome"><b>E-mail: </b>felipe@gmail.com</p>
                        <div class="col-3 d-block pontos-div">
                            <p class="pontos-p"><img height="200px" width="200px" src="../images/gridsardim.jpeg" width="" alt=""></p>
                        </div>
                      </div>
                  </li>
                  <li class="list-group-item list-custom">
                      <div class="list-div d-flex">
                        <p class="nome"><b>Nome: </b>Alex Monteiro</p>
                        <p class="nome"><b>E-mail: </b>alex@gmail.com</p>
                        <div class="col-3 d-block pontos-div">
                            <p class="pontos-p"><img height="200px" width="200px" src="../images/gridalex.jpeg" width="" alt=""></p>
                        </div>
                      </div>
                  </li>
          </div>

      </div>
  </div>

</section>
